
# General Dependencies

numpy
pandas
scikit-learn
matplotlib
pyarrow

#ingestão Open-Meteo (sem key)
openmeteo-requests
requests-cache
retry-requests

# Qualidade
pytest
ruff

# Modelos de sequência 
tensorflow-cpu

# Scikit-Learn
# scikit-learn==1.3.2 (contendo MLPClassifier)
